$white: #FFF;
$whiteSoft: #F8F8F8;
$whiteMute: #F2F2F2;

$black: #181818;
$blackSoft: #222222;
$blackMute: #282828;

$dividerLight1: rgba(60, 60, 60, 0.29);
$dividerLight2: rgba(60, 60, 60, 0.12);
$dividerDark1: rgba(84, 84, 84, 0.65);
$dividerDark2: #141414;

$indigo: #5d748c;

$textDark1: rgba(235, 235, 235, 0.64);
$textLight1: rgba(60, 60, 60, 0.66);
