@import 'variables';
@import 'mixins';

.light-theme {
  --z-index-front: #{$zIndexFront};
  --color-background: #{$white};
  --color-background-soft: #{$whiteSoft};
  --color-background-mute: #{$whiteMute};

  --color-border: #{$dividerLight2};

  --color-heading: #{$bubbleGreenDark};
  --color-text: #{$black};

  --section-gap: 160px;

  --color-link: #{$textLight1};
  --color-link-hover: #{$bubbleGreenDark};
}

.dark-theme {
  --color-background: #{$black};
  --color-background-soft: #{$blackSoft};
  --color-background-mute: #{$blackMute};

  --color-border: #{$dividerDark2};
  --color-border-hover: #{$dividerDark1};

  --color-heading: #{$bubbleGreenLight};
  --color-text: #{$whiteMute};

  --color-link: #{$bubbleGreen};
  --color-link-hover: #{$white};
}

// default color variables for project (light theme)
:root {
 @extend .light-theme;
}

body[data-theme="light"] {
  @extend .light-theme;
}

body[data-theme="dark"] {
  @extend .dark-theme;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include smallScreensMax {
    @include fontBodyLarge;
  }
  @include smallScreens {
    @include fontBody;
  }
}

// headings
h1 {
  margin-bottom: 14px;
  color: var(--color-heading);
  @include fontHeading1;
}

h2 {
  margin-bottom: 12px;
  color: var(--color-heading);
  @include fontHeading2;
}

h3 {
  margin-bottom: 10px;
  color: var(--color-heading);
  @include fontHeading3;
}

h4 {
  margin-bottom: 10px;
  color: var(--color-heading);
  @include fontHeading4;
}

h5 {
  margin-bottom: 10px;
  color: var(--color-heading);
  @include fontHeading5;
}

// links
a:link,
a:visited {
  transition: color 200ms ease, text-decoration 1.2s ease;
  color: var(--color-link);
  text-decoration: none;
  font-weight: 500;
  text-decoration-color: transparent;
  &.icon {
    color: unset;
  }
  &.router-link-active {
    text-decoration: underline;
    text-decoration-color: var(--color-link);
  }
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: none;
  &.icon {
    transform: translate(2px, 2px);
  }
}

a:active {
  outline: none;
}

// paragraph
p {
  padding: 8px 0;
}

// button
button {
  cursor: pointer;
  padding: 2px 14px;
  box-sizing: content-box;
  height: 20px;
  background: var(--color-background-soft);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 16px;
  box-shadow: 4px 2px 5px var(--color-border);
  transition: color 0.5s, background-color 0.5s;
  &:hover {
    background-color: var(--color-background-mute);
    text-decoration: none;
  }
}

// common
.container {
  margin: 50px 20px;
  max-width: 1600px;
  overflow: visible;

  &__colored {
    padding: 20px;
    background: var(--color-background-soft);
    border: 1px solid var(--color-border);
    border-radius: 16px;
    box-shadow: 10px 5px 5px var(--color-border);
  }

  @include smallScreens {
    margin: 50px 50px;
  }

  @include extraLargeScreens {
    margin: 50px auto;
  }

}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @include mediumScreens {
    grid-template-columns: 1fr 1fr;
  }

  @include largeScreens {
    grid-template-columns: 1fr 1fr 1fr;
  }

  > div {
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
  }
}

// keyframes
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}